{% extends 'main.html' %}
{% load staticfiles %}

{% block article %}
    <h4>{{ article.article_date }}</h4>

    <div class="large-offset-1 large-10 columns">
        <h2>{{ article.article_title }}</h2>
        <p>{{ article.article_text|safe }}</p>
    </div>
    <hr>
    <div class="large-offset-1 large-12 columns">
        <p><strong>Комментарии:</strong></p>
        {% for comment in comments %}
            <p>
                {{comment.comments_from.last_name}} {{ comment.comments_from.first_name }} ({{ comment.comments_from.username }}) {{ comment.comments_date }}
            </p>
            <p>{{ comment.comments_text }}</p>
            <hr>
        {% endfor %}

        <div class="row">
            <div class="large-3 large-offset-5 columns">
                <ul class="pagination">
                    {% if comments.has_previous %}
                        <li class="arrow">
                            <a href="{% url 'article:article' article.id comments.previous_page_number %}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="arrow unavailable"><a href="">&laquo;</a></li>
                    {% endif %}

                    {% for page in comments.paginator.page_range %}
                        {% if page == comments.number %}
                            <li class="current"><a href="{% url 'article:article' article.id page %}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="{% url 'article:article' article.id page %}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if comments.has_next %}
                        <li class="arrow"><a href="{% url 'article:article' article.id comments.next_page_number %}">&raquo;</a></li>
                    {% else %}
                        <li class="arrow unavailable"><a href="">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if user.username %}
            <form action="{% url 'article:add_comment' article.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="button" value="Добавить комментарий">
            </form>
        {% endif %}
    </div>
{% endblock %}

